h1{
    font-family: 'Righteous', cursive;
    sup{
        font-size: 15px;
        vertical-align: super;
    }
}

h2, h4, h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

p, button{
    font-family: 'Montserrat', sans-serif;
}

.card{
    p{
        font-size: 15px;
    }
}

