@media (max-width: 575.98px){
    header{
        height: 10vh !important;
    }

    section{

        .perfil{
            height: 180px !important;

            img{
                margin: 0 auto !important;
            }
    
            .datos{
                padding: 0 !important;
                margin: 0 auto !important;
                text-align: center !important;
            }
    
            .boton{
                display: none !important;
            } 
        }
        
    }

    article{

        h2{
            padding: 0 !important;
            text-align: center !important;
        }
    }
       
}
@media (min-width: 576px) and (max-width: 767.98px){

    article{

        h2{
            padding: 20px 0 20px 100px !important;
            
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px){

}

@media (min-width: 992px) and (max-width: 1199.98px){

}

@media (min-width: 1200px){

}